.user-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.user-message {
    max-width: 80%;
    background-color: #e2dbdb;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}
  .bot-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .bot-message {
    max-width: 80%;
    background-color: #3cbc00;
    padding: 10px;
    border-radius: 10px;
    /* overflow-x: wrap;
     */
     word-wrap: break-word;
  }
  
  .bot{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
  }

  .top-div{
    height: 90%;

    display: flex;
    flex-direction: column;
    overflow-y : auto;
  }
.query{
    min-height: 30px;
    border-radius: 10px;
    border-width: 1px;
}