.complaint-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .complaint-details-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .complaint-details-content {
    position: relative;
    width: 90%;
    height: 60%;
    /* max-width: 800px; */
    background-color: white;
    padding: 20px;
    display: flex;
    border-radius: 20px;
  }
  
  .left-half, .right-half {
    flex: 50%;
  }
  
  .left-half {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    height: 100%;
  }
  
  .right-half {
    /* padding: 20px; */
    width: 100%;
    display : flex;
  }
  
  .top-div{
    height: 100%;
    display: flex;

    flex-direction: column;
    flex : 90%;
    width: 100%;
    /* background-color: red; */
  }

  .query{
    width: 100%;
    flex: 90%;
  }

  .bottom-div{
    display: flex;
  }

  .butto{
    min-height: 30px;
    margin: 20px;
    width : auto;
    border-radius: 10px;
  }

  .summary{
    display: flex;
    width: 100%;
    word-break: break-all;
    border:2px;
    flex-direction: column;
    overflow-y: auto;
    border-color: black;
    height: 300px;
  }

  .summaryContent{
    display: flex;
    display: flex;
    width: 100%;
    word-break: break-all;
    padding: 10px;
  }